Repository p1crin/sample-Test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:app, build:batch

build:app:
  stage: build
  script:
  - echo "Building Docker image for main application..."
  - export IMAGE_TAG=${CI_COMMIT_SHORT_SHA}
  - export ECR_REGISTRY=$(aws ecr describe-repositories --repository-names $ECR_REPOSITORY --query 'repositories[0].repositoryUri' --output text | cut -d'/' -f1)
  ...

build:batch:
  stage: build
  script:
  - echo "Building Docker image for Batch worker..."
  - export IMAGE_TAG=${CI_COMMIT_SHORT_SHA}
  - export ECR_REGISTRY=$(aws ecr describe-repositories --repository-names $ECR_BATCH_REPOSITORY --query 'repositories[0].repositoryUri' --output text | cut -d'/' -f1)
  - cd batch
  ...

最新化（バッチ、Swagger）
  app/api/batch/status/[jobId]/route.ts
  app/api/batch/upload-url/route.ts
  app/api/batch/user-import/route.ts
  batch/.dockerignore
  batch/.env.example
  batch/DockerFile
  batch/package.json
  batch/prisma/schema.prisma
  batch/public/user_import/users.csv
  batch/src/types/user-import.types.ts
  batch/src/user-import.ts
  batch/src/utils/csv-parser.ts
  batch/src/utils/password-hash.ts
  batch/src/utils/s3-client.ts
  batch/tsconfig.json
  docs/swagger.yml
Due: build:batch

テストインポート実装＋システム構成更新
  batch/.env.example
  batch/README.md
  batch/package.json
  batch/src/test-case-import.ts
  batch/src/types/test-case-import.types.ts
  batch/src/user-import.ts
  batch/src/utils/csv-parser-base.ts
  batch/src/utils/csv-parser.ts
  batch/src/utils/s3-client.ts
  batch/src/utils/test-case-csv-parser.ts
  batch/src/utils/zip-handler.ts
  docs/システム構成図.puml
Due: build:batch

テストグループ/ケース削除時にS3からディレクトリを削除する機能を追加
  app/api/test-groups/[groupId]/cases/[tid]/route.ts
  app/api/test-groups/[groupId]/route.ts
  app/lib/storage.ts
Due: build:app

clientLoggerにwithUserIdメソッドを追加し、ディレクトリ削除ログにuserIdを含める
  app/api/test-groups/[groupId]/cases/[tid]/route.ts
  app/api/test-groups/[groupId]/route.ts
  app/lib/storage.ts
  utils/client-logger.ts
Due: build:app

バッチインポート画面を追加（テストインポート、ユーザインポート）
  app/(secure)/(import)/testImport/page.tsx
  app/(secure)/(import)/userImport/page.tsx
  config/menu-config.ts
Due: build:app

バッチ実行APIを追加し、画面と接続
  app/(secure)/(import)/testImport/page.tsx
  app/(secure)/(import)/userImport/page.tsx
  app/api/batch/test-import/route.ts
Due: build:app

テストインポート画面をURLパラメータ対応に変更、レイアウト調整
  app/(secure)/(import)/testImport/[groupId]/page.tsx
  app/(secure)/(import)/userImport/page.tsx
  config/menu-config.ts
Due: build:app

AWS Batchセットアップ手順をドキュメントに追加
  docs/AWS_SETUP_GUIDE.md
Due: none

ドキュメントを更新し、AWS構成手順を整理。NAT Gateway、WAF、Secrets Managerの追加を反映
  docs/AWS_SETUP_GUIDE.md
  docs/システム構成図.puml
Due: none

CSVインポート時に空の列（すべてカンマの列）を無視する機能を追加
  batch/src/utils/csv-parser-base.ts
Due: build:app, build:batch

ロガーにユーザーID自動付与機能を追加
  app/(secure)/layout.tsx
  utils/client-logger.ts
  utils/request-context.ts
  utils/server-logger.ts
Due: build:app

withAuth/withAdmin ラッパー関数を追加
  app/lib/auth.ts
Due: build:app

API routeをwithAuth/withAdminラッパーに移行開始
  app/api/tags/route.ts
  app/api/users/[userId]/route.ts
  app/api/users/export/route.ts
  app/api/users/route.ts
  app/lib/auth.ts
Due: build:app

クライアントおよびサーバーログのCloudWatch送信機能を追加し、ログ設定を.env.exampleに追加
  .env.example
  app/api/logs/route.ts
  docs/AWS_SETUP_GUIDE.md
  package-lock.json
  package.json
  tsconfig.tsbuildinfo
  types/pino-cloudwatch.d.ts
  utils/client-log-handler.ts
  utils/client-logger.ts
  utils/server-logger.ts
Due: none

batchディレクトリのconsole.logをpinoロガーに置き換え
  batch/.env.example
  batch/package.json
  batch/src/test-case-import.ts
  batch/src/user-import.ts
  batch/src/utils/logger.ts
  batch/src/utils/s3-client.ts
Due: build:app, build:batch

pino-cloudwatchを削除し、awslogsドライバー方式に変更
  batch/.env.example
  batch/package.json
  batch/src/utils/logger.ts
Due: build:app, build:batch

テストケース登録時にもTID重複チェックを実行するよう修正
  app/(secure)/testGroup/[groupId]/testCase/regist/_components/TestCaseRegistrantion.tsx
Due: build:app

batch/Dockerfileの修正: ビルドエラー対応とファイル名の標準化
  batch/Dockerfile
Due: build:app, build:batch

テストケース編集画面の結合テスト仕様書を追加
  docs/test-case-editor-integration-spec.md
Due: none

テストケース編集画面の結合テスト仕様書を新フォーマットで更新
  docs/test-case-editor-integration-spec.md
Due: none

画面操作マニュアル作成の人力工数見積もりドキュメントを追加
  docs/画面操作マニュアル作成_工数見積もり.md
Due: none

テストグループ複製時にテスト結果・結果履歴・エビデンスのコピーを除外し、ファイルコピーをS3対応化
  app/api/test-groups/[groupId]/route.ts
  app/lib/storage.ts
Due: build:app

tsconfig.tsbuildinfo を更新
  tsconfig.tsbuildinfo
Due: build:app

ファイルコピーをトランザクション外に移動し、失敗時のロールバックとエラーモーダル表示を追加
  app/(secure)/testGroup/[groupId]/copy/_components/TestGroupCopyForm.tsx
  app/api/test-groups/[groupId]/route.ts
Due: build:app

Add files via upload
  docs/IT1_試験項目書_テストケース編集.xlsx
Due: none

集計画面(テスト集計結果表示)の結合試験書を作成
  docs/IT1_試験項目書_テスト集計結果表示.xlsx
Due: none

テストケースインポート画面・バッチの結合テスト仕様書を追加
  docs/IT1_IT2_試験項目書_テストケースインポートバッチ.xlsx
  docs/IT1_IT2_試験項目書_テストケースインポート画面.xlsx
  scripts/generate-test-import-batch-spec.js
  scripts/generate-test-import-screen-spec.js
Due: none

Add AWS manual deployment guide
  docs/AWS_MANUAL_DEPLOYMENT.md
Due: none

Add health check API endpoint for ALB/ECS
  app/api/health/route.ts
Due: build:app

Add ECS service troubleshooting guide
  docs/ECS_SERVICE_TROUBLESHOOTING.md
Due: none

docs: テストケース登録の操作マニュアルを追加
  docs/manual_test-case-registration.md
Due: none

実施者ドロップダウンを行ごとの過去実施者に変更
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/TestCaseConductContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
Due: build:app

update tsconfig.tsbuildinfo
  tsconfig.tsbuildinfo
Due: build:app

Add RDS access guide via CloudShell VPC
  docs/RDS_CLOUDSHELL_ACCESS.md
Due: none

Add PROD environment setup and HTTPS migration guide
  docs/PROD_SETUP.md
Due: none

docs: 来期拡張機能の提案書を追加
  docs/NEXT_PHASE_FEATURES.md
Due: none

実施者ドロップダウンを行×履歴回数ごとに絞り込み
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/TestCaseConductContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
Due: build:app

JWTコールバックで毎リクエストDBからユーザ権限を取得するように修正
  app/lib/authOption.ts
Due: build:app

テストケース更新APIのcanEditTestCasesにawaitを追加
  app/api/test-groups/[groupId]/cases/[tid]/route.ts
Due: build:app

Path conditions:
  build:app: not (any of: docs/**/*, *.md)
  build:batch: any of: batch/**/*, prisma/**/*
