Repository p1crin/sample-Test: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:app, build:batch

build:app:
  stage: build
  script:
  - echo "Building Docker image for main application..."
  - export IMAGE_TAG=${CI_COMMIT_SHORT_SHA}
  - export ECR_REGISTRY=$(aws ecr describe-repositories --repository-names $ECR_REPOSITORY --query 'repositories[0].repositoryUri' --output text | cut -d'/' -f1)
  ...

build:batch:
  stage: build
  script:
  - echo "Building Docker image for Batch worker..."
  - export IMAGE_TAG=${CI_COMMIT_SHORT_SHA}
  - export ECR_REGISTRY=$(aws ecr describe-repositories --repository-names $ECR_BATCH_REPOSITORY --query 'repositories[0].repositoryUri' --output text | cut -d'/' -f1)
  - cd batch
  ...

JWTコールバックのDB問い合わせにtry-catchを追加
  app/lib/authOption.ts
Due: build:app

fix: middlewareの認証チェックをNextAuth JWTに統一
  middleware.ts
Due: build:app

fix: リフレッシュトークンのCookie更新が機能しない問題を修正
  app/(secure)/layout.tsx
  app/lib/authOption.ts
Due: build:app

fix: update()によるローディング無限ループを修正
  app/(secure)/layout.tsx
Due: build:app

feat: エビデンステーブルをテスト結果履歴から分離し即時登録に対応
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/TestCaseConductContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
  app/api/files/evidences/route.ts
  app/api/test-groups/[groupId]/cases/[tid]/results/route.ts
  prisma/migrations/20260218000000_decouple_evidence_from_history/migration.sql
  prisma/schema.prisma
Due: build:app, build:batch

fix: サムネイル非表示とS3アップロード失敗を修正
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
  app/api/files/evidences/route.ts
  app/lib/storage.ts
Due: build:app

テストドキュメント生成スクリプトを追加し、Excel形式での出力機能を実装
  docs/IT2_総合試験項目書_シナリオテスト.xlsx
  docs/IT2_総合試験項目書_性能テスト.xlsx
  docs/IT2_総合試験項目書_負荷テスト.xlsx
  docs/generate_it2_test_docs.py
Due: none

feat: テストケース自動生成フローの追加
  app/(secure)/testGroup/[groupId]/_components/TestCaseListContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/auto-generate/page.tsx
Due: build:app

fix: CloudFront署名付きURLによるアクセス制御を追加
  app/(secure)/testGroup/[groupId]/testCase/auto-generate/page.tsx
Due: build:app

テスト結果確認画面の表示不具合を修正: isLoadingの競合状態を解消
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/_components/TestCaseResultContainer.tsx
Due: build:app

Add AWS Batch setup guide to AWS_SETUP_GUIDE.md
  docs/AWS_SETUP_GUIDE.md
Due: none

batch/.npmrcファイルを削除
  batch/.npmrc
Due: build:app, build:batch

batch/.npmrcファイルを新規作成し、npmレジストリの設定を追加
  batch/.npmrc
Due: build:app, build:batch

fix: 再実施入力欄で権限に応じた実施者リストを表示するよう修正
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/TestCaseConductContainer.tsx
Due: build:app

fix: インポート画面からBatchが呼ばれない不具合を修正
  app/(secure)/(admin)/user/userImportExecute/_components/UserImportExecuteContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/testImportExecute/_components/TestImportExecuteContainer.tsx
  app/api/batch/test-import/route.ts
  app/api/batch/upload-url/route.ts
  app/api/batch/user-import/route.ts
Due: build:app

Fix S3 upload errors in test case registration and edit screens
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/regist/_components/TestCaseRegistrantion.tsx
Due: build:app

日本語ファイル名をインポート一覧・インポート結果に正しく表示する
  app/(secure)/(admin)/user/userImportExecute/_components/UserImportExecuteContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/testImportExecute/_components/TestImportExecuteContainer.tsx
  app/api/batch/test-import/route.ts
  app/api/batch/user-import/route.ts
  batch/src/test-case-import.ts
  batch/src/user-import.ts
Due: build:app, build:batch

optimize: DockerビルドのレイヤーキャッシュとDockerignoreを改善
  .dockerignore
  Dockerfile
  batch/.dockerignore
  batch/DockerFile
Due: build:app, build:batch

S3プリサインドURLアップロード時のSignatureDoesNotMatch 403エラーを修正
  app/(secure)/(admin)/user/userImportExecute/_components/UserImportExecuteContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/testImportExecute/_components/TestImportExecuteContainer.tsx
  app/api/batch/upload-url/route.ts
Due: build:app

S3アップロードエラー時のModalによるエラー表示とbase64サムネイル対応
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
  components/ui/FileUploadField.tsx
Due: build:app

feat: 結合テスト向けに全ログレベルをCloudWatchに出力できるよう設定を追加
  utils/client-log-handler.ts
  utils/client-logger.ts
Due: build:app

fix: テスト設計者タグ付き一般ユーザーがインポート一覧を閲覧できないバグを修正
  app/(secure)/(import)/importResult/importInfo/[id]/page.tsx
  app/(secure)/(import)/importResult/page.tsx
  app/(secure)/layout.tsx
  app/api/auth/[...nextauth]/route.ts
  app/api/batch/test-import/route.ts
  app/api/import-results/[importResultId]/route.ts
  app/api/import-results/route.ts
  app/lib/auth.ts
  app/lib/authOption.ts
  components/sidebar/Sidebar.tsx
  components/sidebar/SidebarContainer.tsx
Due: build:app

docs: JMeterテスト実施手順書を追加
  docs/JMETER_TEST_GUIDE.md
Due: none

docs: curlとk6による性能・負荷テスト簡易実施手順書を追加
  docs/PERFORMANCE_TEST_GUIDE.md
  scripts/login.sh
  scripts/measure_api.sh
  tests/load/helpers/auth.js
  tests/load/lt-1-2-3-concurrent-list.js
  tests/load/lt-10-during-batch.js
  tests/load/lt-11-connection-pool.js
  tests/load/lt-4-concurrent-duplicate.js
  tests/load/lt-5-same-group-duplicate.js
  tests/load/lt-6-concurrent-report.js
  tests/load/lt-7-sustained-30min.js
  tests/load/lt-8-mixed-60min.js
  tests/load/lt-9-spike.js
Due: none

fix: バッチの大容量ZIPファイル（10GB超）アップロード失敗を修正
  app/(secure)/(admin)/user/userImportExecute/_components/UserImportExecuteContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/testImportExecute/_components/TestImportExecuteContainer.tsx
  app/api/batch/multipart-upload/complete/route.ts
  app/api/batch/multipart-upload/initiate/route.ts
  utils/fileUtils.ts
Due: build:app

docs: AWS環境構築手順書を大幅修正（NATゲートウェイ廃止・本番環境対応）
  docs/AWS_SETUP_GUIDE.md
Due: none

変更: 認証エラー時にログインページから認証エラー画面へリダイレクトするよう修正し、認証エラー画面を新規作成
  app/(secure)/layout.tsx
  app/auth-error/page.tsx
  utils/apiClient.ts
Due: build:app

脆弱性対応
  app/api/auth/change-password/route.ts
  app/api/logs/route.ts
  app/api/test-cases/check-tid/route.ts
Due: build:app

docs: 性能テストガイドを更新し、EC2実行環境のセットアップ手順を追加
  docs/PERFORMANCE_TEST_GUIDE.md
Due: none

fix: 画像以外のファイルアップロードが base64 省略で壊れていた問題を修正
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
  app/(secure)/testGroup/[groupId]/testCase/regist/_components/TestCaseRegistrantion.tsx
Due: build:app

feat: 動的ファイルアップロードの孤立ファイル対策（クライアント側削除フラグ管理）
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/TestCaseConductContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
Due: build:app

refactor: DBのis_deletedフラグによる動的ファイルアップロードの孤立ファイル対策
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/TestCaseConductContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
  app/api/files/evidences/route.ts
  app/api/files/test-info/route.ts
  app/api/test-groups/[groupId]/cases/[tid]/results/route.ts
  app/api/test-groups/[groupId]/cases/[tid]/route.ts
Due: build:app

fix: 認証切れ後の再ログインでも旧セッションのファイルが確定されるバグを修正
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/TestCaseConductContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
Due: build:app

fix: 新規登録でもファイルのis_deletedが確定されない問題を修正
  app/(secure)/testGroup/[groupId]/testCase/regist/_components/TestCaseRegistrantion.tsx
  app/api/test-groups/[groupId]/cases/route.ts
Due: build:app

fix: isDynamicパラメータでアップロード時のis_deletedを制御
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/regist/_components/TestCaseRegistrantion.tsx
  app/api/files/test-info/route.ts
  app/api/test-groups/[groupId]/cases/route.ts
Due: build:app

docs: swagger.ymlに認証方式と新しいタグ管理を追加し、エラーメッセージの構造を更新
  docs/swagger.yml
Due: none

feat: ファイルサイズ上限チェックを追加
  app/(secure)/(admin)/user/userImportExecute/_components/UserImportExecuteContainer.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
  app/(secure)/testGroup/[groupId]/testCase/regist/_components/TestCaseRegistrantion.tsx
  app/(secure)/testGroup/[groupId]/testCase/testImportExecute/_components/TestImportExecuteContainer.tsx
  components/ui/FileUploadField.tsx
Due: build:app

chore: update tsconfig.tsbuildinfo
  tsconfig.tsbuildinfo
Due: build:app

fix: Presigned URLによるS3直接アップロードでECS OOMを解消
  app/(secure)/testGroup/[groupId]/testCase/[tid]/edit/_components/TestCaseEditForm.tsx
  app/(secure)/testGroup/[groupId]/testCase/[tid]/result/conduct/_components/testTable.tsx
  app/(secure)/testGroup/[groupId]/testCase/regist/_components/TestCaseRegistrantion.tsx
  app/api/files/evidences/route.ts
  app/api/files/test-info/route.ts
  app/api/files/upload-url/route.ts
  app/lib/storage.ts
  next.config.ts
  utils/uploadToStorage.ts
Due: build:app

Path conditions:
  build:app: not (any of: docs/**/*, *.md)
  build:batch: any of: batch/**/*, prisma/**/*
